/* Miscellaneous */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  min-width: 100vw;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 24px;
  font-family: "Aldrich", "Arial", sans-serif;
  font-weight: 400;
  max-width: 60ch;
  margin: 0px;
  padding: 0px;
  text-align: left;
  margin-right: auto;
}

h2 {
  font-size: 48px;
  font-family: "Aldrich", "Arial", sans-serif;
  font-weight: 400;
  max-width: 60ch;
  margin: 6px 0px;
  padding: 0px;
}

h3 {
  font-size: 24px;
  font-family: "Aldrich", "Arial", sans-serif;
  font-weight: 400;
  max-width: 60ch;
  margin: 3px 0px;
  padding: 0px;
}

h4 {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  max-width: 60ch;
  margin: 2px 0px;
  padding: 0px;
}

p {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  max-width: 60ch;
  margin: 2px 0px;
  padding: 0px;
}

p small {
  font-size: 12px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  max-width: 60ch;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* Buttons */
h3 a {
  padding: 12px;
  color: #000000;
  background-color: #81d5fe;
  border: 4px solid #000000;
  border-radius: 8px;
}


h3 a:hover,
h3 a:active {
  color: #000000;
  background-color: #ff6b00;
  text-decoration: underline;
  border: 4px solid #000000;
  border-radius: 8px;
}

/* Navigation Bar */
header {
  height: 56px;
  width: 100vw;
  position: fixed;
  background-color: #000000;
  color: #ffffff;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

header div img {
  height: 24px;
  margin: auto;
}

header div nav {
  margin-left: auto;
}

header div nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}

header div nav ul li {
  margin-left: 16px;
}

header div p {
  text-align: right;
}

header div p a {
  color: #ffffff;
}

header div p a:hover,
header div p a:active {
  color: #81d5fe;
  font-weight: 500;
  text-decoration: underline;
}

/* Footer */
footer {
  width: 100vw;
  background-color: #000000;
  color: #ffffff;
  padding: 64px 32px;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

footer div div article p a {
  color: #ffffff;
  text-decoration: underline;
}

footer div div article p a:hover,
footer div div article p a:active {
  color: #81d5fe;
  font-weight: 500;
  text-decoration: underline;
}

/* Homepage */
.welcome {
  background-image: url("../images/nyc_skyline_transparent.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0px;
  padding: 120px 32px 64px 32px;
}

.welcome img {
  max-width: 540px;
  margin: 0px 32px;
  padding: 0px;
}

.welcome div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0px 32px;
  padding: 0px;
}

.welcome div article {
  color: #ffffff;
  background-color: #ff6b00;
  border: 4px solid #81d5fe;
  border-radius: 8px;
  margin: 32px 0px;
  padding: 12px;
}

.portfolio img {
  max-width: 540px;
  border-radius: 8px;
  margin: 16px;
  padding: 0px;
}

@media only screen and (max-width: 720px)
  .portfolio img {
    max-width: 75vw;
    border-radius: 8px;
  }

  .welcome img {
    max-width: 75vw;
  }

/* About */
/* Portfolio */
/* Resume */
