/* Miscellaneous */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap');

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 24px;
  font-family: "Aldrich", "Arial", sans-serif;
  font-weight: 400;
  max-width: 60ch;
  margin: 0px;
  padding: 0px;
  text-align: left;
  margin-right: auto;
}

h2 {
  font-size: 48px;
  font-family: "Aldrich", "Arial", sans-serif;
  font-weight: 400;
  max-width: 60ch;
  margin: 0px 6px;
  padding: 0px;
}

h3 {
  font-size: 24px;
  font-family: "Aldrich", "Arial", sans-serif;
  font-weight: 400;
  max-width: 60ch;
  margin: 0px 3px;
  padding: 0;
}

h4 {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  max-width: 60ch;
  margin: 0px 2px;
  padding: 0px;
}

p {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  max-width: 60ch;
  margin: 0px 2px;
  padding: 0px;
}

p small {
  font-size: 12px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  max-width: 60ch;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Navigation Bar */
header {
  height: 56px;
  width: 100vw;
  position: fixed;
  background-color: #000000;
  color: #ffffff;
  padding: 8px 64px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

header img {
  height: 24px;
  margin: auto;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin-left: 16px;
}

header p {
  text-align: right;
}

header a {
  color: #ffffff;
}

/* Footer */
/* Homepage */
.welcome {
  background: url("../images/nyc_skyline_transparent.png") center/cover no-repeat;
  margin: 0px;
  padding: 128px 0px 0px 0px;
}

.welcome img {
  max-width: 540px;
  min-width: 280px;
  width: calc(100vw - 128px);
  margin: 0px 64px;
  padding: 0px;
}

.portfolio img {
  max-width: 540px;
  min-width: 405px;
  width: calc(100vw - 64px);
  margin: 0px 16px;
  padding: 0px;
}

/* About */
/* Portfolio */
/* Resume */
